<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modal">
  <div class="modal fade" id="add-item-modal" tabindex="-1" role="dialog" aria-labelledby="add-item-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="add-item-modal-label">Add Item</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addItemForm">
            <div class="form-group">
              <label for="addTitle">Title</label>
              <input type="text" class="form-control" id="addTitle" required>
            </div>
            <div class="form-group">
              <label for="addDescription">Description</label>
              <textarea type="text" class="form-control" id="addDescription"></textarea>
            </div>
            <div class="form-group">
              <label for="addDueDate">Due Date</label>
              <input type="date" class="form-control" id="addDueDate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn listmaster-btn-light" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn listmaster-btn-blue save-button"
                  onclick="addItem(document.getElementById('addTitle').value,
                  document.getElementById('addDescription').value, document.getElementById('addDueDate').value, this.getAttribute('data-url'))">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</html>