<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Flexible bootstrap container-->
<div class="col-12" th:fragment="listItems (items, listName)">
    <div class="row justify-content-center mb-3 list-item" th:each="item : ${items}" th:classappend="${item.completed} ? 'completed'">
        <div class="col-6 border border-dark">
            <div class="row">
                <div class="col-1">
                    <input class="completed-checkbox" type="checkbox" th:checked="${item.completed}" th:data-url="@{'/list/' + ${listName} + '/item/' + ${item.id}}" onclick="completeItem(this)"/>
                </div>
                <div class="col-6">
                    <div class="row">
<!--                        <div class="col-1">-->
<!--                            <button class="btn btn-sm" type="button" data-toggle="collapse" th:attr="data-target='#description-' + ${item.id}">-->
<!--                                <i class="fas fa-chevron-down"></i>-->
<!--                            </button>-->
<!--                        </div>-->
                        <div class="col-12">
                            <span class="list-item-title" th:text="${item.title}"></span>
                            <div class="list-item-description" th:id="'description-' + ${item.id}">
                                <span th:text="${item.description}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-7">
                            <i class="fas fa-calendar mr-1"></i><span th:text="${item.dueDate}"></span>
                        </div>

                        <div class="col-2">
                            <button type="button" class="btn btn-primary btn-sm" th:data-id="${item.id}" th:data-title="${item.title}" th:data-description="${item.description}" th:data-dueDate="${item.dueDate}" onclick="editItem(this.getAttribute('data-id'), this.getAttribute('data-title'), this.getAttribute('data-description'), this.getAttribute('data-dueDate'))">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>

                        <div class="col-2">
                            <button type="button" class="btn btn-danger btn-sm" th:data-url="@{'/list/' + ${listName} + '/item/' + ${item.id}}" onclick="deleteItem(this)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>