<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do List</title>
    <!-- Bootstrap CSS -->
    <link href="/css/listmaster.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="/css/liststyles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments/listDropdown :: listDropdown (${currentListName}, ${allListNames})}"></div>
        <div th:replace="~{fragments/listViewDropdown :: listViewDropdown (${currentListViewName}, ${allListViewNames})}"></div>
        <div class="row justify-content-center">
<!--            <div th:replace="~{fragments/addFilters :: addFilters()}"></div>-->
            <div class="col-12" th:each="itemList, iterStat : ${itemLists}">
                <div th:if="${iterStat.first == true}" class="row justify-content-center mb-3">
                    <div class="col-xl-6 col-11 h-100 listmaster-btn-light p-0">
                        <button type="button" class="btn d-block w-100 h-100 listmaster-btn-sharp"
                                onclick="openAddItemModal()">Add Item</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div th:replace="~{fragments/listItems :: listItems(${itemList}, ${currentListName})}">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Include the modal fragment -->
<div th:replace="~{fragments/editItemModal :: modal}"></div>
<div th:replace="~{fragments/addItemModal :: modal}"></div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- External JavaScript file -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>